@import "tailwindcss";
@import url('./animations.css');
/* ============================= */
/*         VARIABLES            */
/* ============================= */

:root {
  --background: #ffffff;
  --foreground: #000000;
}

:root.dark {
  --background: #000000;
  --foreground: #ededed;
}
/* ============================= */
/*        FUENTES PERSONALIZADAS */
/* ============================= */

@font-face {
  font-family: 'MainFont';
  src: url('/fonts/Designer.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SecondaryFont';
  src: url('/fonts/Mont-HeavyDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ThirdFont';
  src: url('/fonts/Poppins/Poppins-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ============================= */
/*       ESTILOS GENERALES      */
/* ============================= */

html{
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family:  'MainFont',Arial, Helvetica, sans-serif;
}

main{
  animation: fade-in-body 0.5s ease-in-out 2s forwards;
  opacity: 0;
}



/* Clases de animación */

.animate-fade-in-up {
  animation: fade-in-up 0.6s ease-out forwards;
}



.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
  animation-duration: 1.2s;
}

.animate-fade-out {
  animation: fade-out 0.8s ease-out forwards;
}

/* BUTTONS */
.neon-button {
  position: relative;
  padding: 12px 24px;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
  box-shadow: rgb(0, 0, 0) 0px 0px 6px;
  overflow: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  transform: translateZ(0);

}
.neon-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(to right, #a620ff, #4400ff, #ffffff 40%);
  z-index: -1;
  border-radius: 10px;
  background-size: 600% 600%;
  animation: neonBorder 6s linear infinite;
}

.neon-button:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}


.hero-section{
  transition: transform 1s ease-out
}

.hero-section.zoom-out{
  transform:scale(0.8);
}
/* LETRAS */
.letter-hover-effect{
  display: inline-block;
  transition: all 0.3s ease;
}

.letter-hover-effect:hover{
  color: #4400ff;
  transform: scale(1);
}

/* SLIDES */
.slideIn{
  animation:slideIn 1s ease-out;
}
.slideIn-left{
  --start-position: -100%
}
.slideIn-right{
  --start-position: 100%
}


