@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'MainFont';
  src: url('/fonts/Designer.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family:  'MainFont',Arial, Helvetica, sans-serif;
}

.neon-button {
  position: relative;
  padding: 12px 24px;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  
}

.neon-button::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(270deg, #fb8fff, #c300ff, #4400ff,#fb8fff);
  z-index: -1;
  border-radius: 10px;
  background-size: 600% 600%;
  animation: neonBorder 6s linear infinite;
}

.neon-button:hover{
  transform:scale(1.1);
  transition-duration: 0.3s;
}

.text-neon{
  background: linear-gradient(270deg, #fb8fff, #c300ff, #4400ff, #fb8fff);
  background-size: 600% 600%;
  -webkit-background-clip:text;
  background-clip: text;
  color:transparent;
  animation: neonText 6s linear infinite;
}
.text-neon:hover{
  color: white;
  transition-duration: 0.3s;
}

@keyframes neonText {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/* Animación para el borde */
@keyframes neonBorder {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

